.experience-section {
  padding-top: 35px;
}

.experience-title {
  color: white;
  font-weight: 600;
  text-align: center;
  font-size: 3.75rem;
}

.experience-subtitle {
  letter-spacing: 0.5em;
  text-align: center;
  background: linear-gradient(to right, #7c3aed, #fb923c);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 300;
  padding-bottom: 1.25rem;
  font-size: 1.25rem;
}

.experience-container {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
}

.experience-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1.25rem;
}

.experience-job {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.experience-logo {
  width: 30px;
  height: 30px;
}

.experience-job-title {
  color: #d1d5db;
}

.experience-job-company {
  font-weight: 600;
}

.experience-date {
  color: #d1d5db;
  padding-top: 0.75rem;
}

.experience-description {
  color: #d1d5db;
  padding-top: 1.25rem;
}

.experience-skills {
  display: flex;
  flex-direction: column;
}

.experience-skill {
  background-color: transparent;
  margin-top: 1.25rem;
  margin-right: 0.5rem;
  cursor: pointer;
  border-radius: 1.5rem;
  color: white;
  padding: 0.5rem 1.25rem;
  border: 1px solid #2e2e2e;
  width: max-content;
}

@media (min-width: 640px) {
  .experience-skills {
    flex-direction: row;
  }
}
