.navbar {
  width: 100%;
  height: 65px;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(4px);
  z-index: 50;
}

.navbar-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.5rem;
}

@media (max-width: 460px) {
  .navbar-content {
    padding: 0 1rem;
  }
}

.navbar-logo {
  z-index: 1;
  cursor: pointer;
  color: white;
  transition: transform 0.3s;
  transform: scale(1);
}

.navbar-logo:hover {
  transform: scale(1.2);
}

.navbar-actions {
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
}

.navbar-contact {
  position: relative;
  z-index: 1;
  background-color: transparent;
  cursor: pointer;
  border-radius: 0.75rem;
  color: white;
  padding: 0.25rem 0;
  transition: color 0.3s;
}

.navbar-contact::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}

.navbar-contact:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
