.projects-section {
  padding-top: 35px;
}

.projects-title {
  color: white;
  font-weight: 600;
  text-align: center;
  font-size: 4rem;
}

.projects-subtitle {
  letter-spacing: 0.5em;
  text-align: center;
  background: linear-gradient(to right, #7c3aed, #fb923c);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 300;
  padding-bottom: 1.25rem;
  font-size: 1.25rem;
}

.projects-container {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.projects-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 1.75rem;
  gap: 16px;
}

@media (min-width: 768px) {
  .projects-card {
    flex-direction: row;
  }
}

.projects-link {
  z-index: 1;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.projects-item {
  display: flex;
  flex-direction: row;
}

.projects-item {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  will-change: transform;
}

.projects-link:hover .projects-item {
  transform: translateY(-6px);
}

.projects-image {
  width: 100px;
  height: 100px;
  align-self: center;
}

.projects-info {
  text-align: left;
  padding: 0.75rem;
}

.projects-name {
  color: white;
  font-weight: 600;
  font-size: 1.25rem;
}

.projects-description {
  color: #6b7280;
  font-size: 0.625rem;
}
